$teal: #008B92;

nav{ 
    background-color: $teal;
    padding: 0.5rem 10rem;
}

#nav-links{
    display: flex;
    justify-content: right;
    gap: 2.5rem;

    li{
        color: white;
        cursor: pointer;
        font-size: 0.9rem;
        list-style: none;
    }
}