///////////////////////
/// ADD HOURS MODAL ///
/////////////////////// 
$orange: #ff6900;
$teal: #008B92;
$grey: #4D4D4D;


.modal-background{
    position: absolute;
    top: 0;
    left: 0;

    background-color: rgba(0,0,0, 0.6);
    height: 100%;
    width: 100%;
    z-index: 3;
}

.modal-inner{
    padding: 4.5rem 3rem 3rem 3rem !important;
    position:relative;
    min-width: 800px;

    h2{
        color: $teal;
    } 
}
