//////////////////////
/// ADD HOURS FORM ///
//////////////////////
.inner-form{
    select, input, textarea{
        margin-bottom: 1rem;
    }

    select, textarea{
        width:100%;
    }

    textarea{
        height: 10rem;
        resize: none;
    }

    button{
        margin-right: 1rem;
    }
}
