//////////////
/// LOGIN ///
////////////
$lt-grey: #aaaaaa;

.welcome-modal{
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    height: 100vh;
    width: 50px;
    position: absolute;
    top: 0rem;
    left: 0rem;

    &--active{
        padding: 3rem;
        width: 400px;
    }

    ul{

        li{
            font-weight: 600;
            list-style: none;
        }
    }

    img{
        position: absolute;
        top: 50%;
        right: 1rem;
        transform: translateY(-50%);
        opacity: 80%;
    }
    
}

@media only screen and (max-width: 991px){
    .welcome-modal{
        height: 50px;
        width: 100vw;
        top: unset;
        bottom: 0;

        img{
            right: 50%;
            top: 1rem;
            transform: rotate(-90deg);
        }

        &--active{ 
            height: 90%;
        }
    }
}