/////////////
/// HOME ///
///////////
$lt-blue: #FAF7FB;

#home{
    background-color: $lt-blue;
    display: grid;
    grid-template-columns: 0.04fr 1fr;
    grid-template-areas:
        "menu mainView"
    ;
    height: 100vh;
}

#main-view{ 
    grid-area: mainView;
    height: 100vh;
    overflow: scroll;
    padding: 1.5rem 6rem;
}


@media only screen and (max-width: 991px){
    #home{ 
        display: flex;
        flex-direction: column;
    }

    #main-view{ 
        padding: 2rem;
    }

    #home-nav{
        display: none;
    }
}