//VARIABLES
$teal: #008B92;
$grey: #4D4D4D;
$lt-grey: #aaaaaa;
$x-lt-grey:#ececec;
$lt-blue: #FAF7FB;
$orange: #ff6900;


//SETUP
*,
*::before, 
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, 
body, 
.App{ 
    min-height: 100vh;
}

.root{
    min-height: 100vh;
}

body, textarea{
    font-family: "Poppins", sans-serif;
}

.App{
    display: flex; 
    flex-direction: column;
}

//FONTS & BUTTONS & ICONS & FORMS
h1, 
h2,
h3{
    color: $grey;
}

button{
    background-color: $orange;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.75rem;
}

.btn-alt{
    border: 1px solid $orange;
    border-radius: 2rem;
    color: $orange;
    cursor: pointer;
    font-size: 0.75rem;
    padding: 0.5rem;

    &:hover{
        background-color: $orange;
        color: #fff;
    }
}

input, textarea, select{
    border: 1px solid $lt-grey;
    color: $lt-grey;
    font-size: 1rem;
    display: block;
    padding: 0.75rem 1.5rem;
}

.icon{
    cursor: pointer;
    
    &--small{
        height: 0.825rem;
        width: 0.825rem;
    }

    &--md{
        height: 1.125rem;
        width: 1.125rem;
    } 
    
    &--lg{
        height: 1.4rem;
        width: 1.4rem;
    }
}

//TABLES 
table{
    border: 1px solid $x-lt-grey;
    border-collapse: collapse;
    margin: 1rem 0 2rem 0;
    width: 100%;
}

tr, th, td{
    border-block: 1px solid $x-lt-grey;
    padding: 0.5rem;
    position: relative;
    text-align: left;
}

th{
    background-color: $lt-blue;
}

.sort{
    cursor: pointer;
    margin-left: 0.5rem;
}


//GLOBAL UTILITY CLASSES
.flex{
    display: flex;
}

.flex-row{
    display: flex;
    align-items: center;

    &--center{
        justify-content: center;
    }

    &--space{
        justify-content: space-between;
    }

    &--right{
        justify-content: flex-end;
    }
}

.flex-column{ 
    display: flex;
    flex-direction: column;

    &--center{
        align-items: center;
        justify-content: center;
    }
}

.gap{
    &--1{
        gap: 1rem;
    }

    &--15{
        gap: 1.5rem;
    }

    &--2{
        gap: 2rem;
    }

    &--3{
        gap: 3rem;
    } 

    &--4{
        gap: 4rem;
    }
}

.hidden{
    display: none;
}

//GLOBAL CLASSES
.dashboard{ 
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 2rem;
}
