//VARIABLES
$teal: #008B92;
$grey: #4D4D4D;
$lt-grey: #aaaaaa;
$lt-blue: #FAF7FB;
$orange: #ff6900;


//SETUP
*,
*::before, 
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, 
body, 
.App{ 
    min-height: 100vh;
}

body, textarea{
    font-family: "Poppins", sans-serif;
}

.App{
    display: flex; 
    flex-direction: column;
}

//FONTS & BUTTONS & ICONS & FORMS
h1, 
h2{
    color: $grey;
}

button{
    background-color: $orange;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.75rem;
}

.btn-alt{
    border: 1px solid $orange;
    border-radius: 2rem;
    color: $orange;
    cursor: pointer;
    font-size: 0.75rem;
    padding: 0.5rem;

    &:hover{
        background-color: $orange;
        color: #fff;
    }
}

input, textarea, select{
    border: 1px solid $lt-grey;
    color: $lt-grey;
    font-size: 1rem;
    display: block;
    padding: 0.75rem 1.5rem;
}

.icon{
    &--small{
        height: 0.825rem;
        width: 0.825rem;
    }

    &--md{
        height: 1.125rem;
        width: 1.125rem;
    }
}

//TABLES 
table{
    border-collapse: collapse;
    margin: 1rem 0 2rem 0;
    width: 100%;
}

tr, th, td{
    border: 1px solid $grey;
    padding: 0.5rem;
    text-align: center;
}

.sort{
    cursor: pointer;
    margin-left: 0.5rem;
}


//GLOBAL UTILITY CLASSES
.flex-row{
    display: flex;
    align-items: center;

    &--center{
        justify-content: center;
    }

    &--space{
        justify-content: space-between;
    }
}

.flex-column{ 
    display: flex;
    flex-direction: column;

    &--center{
        align-items: center;
        justify-content: center;
    }
}

//GLOBAL CLASSES
.dash-header{
    margin-bottom: 4rem;
}