$grey: #4D4D4D;

.title{ 
    margin-bottom: 2rem;
}

.company-grid{ 
    display: grid; 
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);    
    margin-bottom: 5rem;
}

.company-card{
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    color: $grey;
    padding: 1.5rem;

    & .program{
        font-size: 0.875rem;
    }

    & .company-info{
        display: flex;
        justify-content: space-between;
    }

    &--pointer{
        cursor: pointer;
    }

    .status{
        border-radius: 0.5rem;
        font-size: 12px;
        height: 2rem;
        padding: 0.5rem;

        &--green{
            background-color: #f0faf9;
            color:#429d8b;
        }

        &--orange{
            background-color: #fffaf1;
            color: #ffcd32;
        }
    }

    h2{
        font-size: 2.25rem;
    }
}

.support-request{
    margin-top: 1.5rem;
    height: 6rem;

    & .request-header{
        font-size: 12px;
        font-weight: 600;
        margin-bottom: 0.5rem;
    }

    & .request-text{
        font-size: 14px;
    }
}

.card-btn{
    background-color: #0d3b66;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
}
