.title{ 
    margin-bottom: 2rem;
}

.company-grid{ 
    display: grid; 
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);    
    margin-bottom: 5rem;
}

.company-card{
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 1.5rem;

    & .program{
        font-size: 0.875rem;
    }

    & .company-info{
        display: flex;
        justify-content: space-between;
    }

    .status{
        border-radius: 0.5rem;
        background-color: #f0faf9;
        color:#429d8b;
        font-size: 12px;
        height: 2rem;
        padding: 0.5rem;
    }

    h2{
        font-size: 2.25rem;
    }
}
