#dashboard{
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    grid-area: dashboard;
    padding: 2rem;
}

.dashboard-title{ 
    padding: 3.5rem 0 2.5rem 0;
    font-size: 2.25rem;
}