$orange: #ff6900;
$teal: #008B92;
$grey: #4D4D4D;

.modal{
    position: absolute;
    top: 0;
    left: 0;

    background-color: rgba(0,0,0, 0.6);
    height: 100%;
    width: 100%;
}

.hours-form{
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 3rem;
    position:relative;
    overflow: scroll;
    // height: 85%;
    min-width: 800px;


    h2{
        color: $teal;
        // margin-bottom: 1rem;
    }


    input, select, textarea{
        margin-bottom: 1rem;
    } 

    label{
        display:block;
        margin-bottom: 0.5rem;
    }
}


#company-name{
    width: 100%;
}

#notes{
    height: 10rem;
    width: 100%;
    resize: none;
}

.modal-header{
    margin: 1.25rem 0;
}


.exit{
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    cursor: pointer;
}

.add-meeting{
    cursor: pointer;
    gap: 0.5rem;
    padding: 1rem 0;
    font-size: 0.825rem;
}

.inner-form{
    margin-top: 3rem;
    border-top: 1px solid $grey;
    padding-top: 3rem;

    &:first-child{
        margin-top: 0;
        border: none;
        padding-top: 0;
    }
}

.form-row{
    gap: 3rem;
}

.add{
    background-color: #fff;
    border: 1px solid $orange;
    color: $orange;
    margin-left: 1.5rem;

    &:hover{
        background-color: $orange;
        color: #fff;
    }
}