$orange: #ff6900;
$grey: #4D4D4D;

//SECTION STYLING
#hours{
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 2rem;
}

//DELETE RECORDS ICON
.delete-records{ 
    margin-right: 1rem;
}

//TABLE HEADER & FILTER/SORT DROPDOWNS
.filter-dropdown{ 
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    padding: 1.5rem;
    text-align: left;
    width: 200px;

    position: absolute;
    right:0.2rem;
    top: 0.2rem;
    z-index: 1;

    :nth-child(3){
        cursor: auto;
        margin-top: 1rem;
    }

    div, p{
        cursor: pointer;
        padding-bottom: 0.25rem;
    }

    div{
        padding-left: 0.75rem;
    }

    img{
        margin-right: 0.75rem;
    }
}

.hidden-checkmark{ 
    opacity: 0;
}


//PAGINATION
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
  
  .page-item {
    margin: 0 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .active {
    text-decoration: underline;
  }
  
  .page-link {
    color: $grey;
    text-decoration: none;
  }
  
  .page-link:hover {
    cursor: pointer;
    text-decoration: underline;
  }